/app
/data
/EasyBox
/icudtl.dat
/MemoTrace.exe
/qtwebengine_devtools_resources.pak
/qtwebengine_resources.pak
/qtwebengine_resources_100p.pak
/qtwebengine_resources_200p.pak
/results
/update.exe
/_internal
/使用须知.txt
/日志文件-2024-12-16-log.log
/日志文件-2024-12-25-log.log
/日志文件-2024-12-26-log.log